.add-order {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5%;
}

.add-order form {
  display: flex;
  flex-direction: column;
}

.add-order label {
  margin-bottom: 10px;
}

.add-order input[type="text"],
.add-order input[type="date"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-order .big-input {
  height: 100px; /* Adjust height as needed */
}

.add-order .input-group {
  display: flex;
}

.add-order .input-group input {
  flex: 1;
}

.add-order button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-order button:hover {
  background-color: #0056b3;
}

#btnad {
  position: relative;
  top: 105%;
  
}