.showorders {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10%;
  }
  
  .showorders table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .showorders th,
  .showorders td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .showorders th {
    background-color: #f2f2f2;
  }
  
  .showorders tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .showorders tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  .showorders a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
  }
  
  .showorders a:hover {
    text-decoration: underline;
  }
  
  .showorders button {
    padding: 5px 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .showorders button:hover {
    background-color: #c82333;
  }
  